doctype html
html
  head
    style
      include ../public/stylesheets/main.css
  body
    p welcome
    p //all cars
    p //--/add/id your cars to see your car
    p //add to add new car
    script
      include ../public/javascript/main.js
